#rectangle {
	border-style:normal;
	background-color:whitesmoke;
	width:100%;
	height:100%;
}

#Innerrectangle {
	position:relative;
	background-color:white;
	width:100%;
	height:630px;
	overflow:auto;
}


.Back {
	margin:auto;
	padding:1%;
	width:100%;
	height:100%;

}



div.container{
	width:100%;
	height:100%;

}
#SquareBox{
	border:5px solid green;
	height:470px;
	width:300px;
	background-color:whitesmoke;	
}

#Straightline{
	border:10px solid green;
}


.LanguageBox{
	text-align:center;
	padding-bottom:5%;
	position:relative;
	margin:0px 20% 0px 20%;
}

.Subs {
	position:relative;
	width:25%;
	height:20px;
	font-size:15px;
	text-align:center;
	margin:2% 0% 2% 73%;
	background-color:red;
	color:white;
	border:2px solid white;
	

}


.SubsTag {
	position:relative;
	width:25%;
	height:20px;
	font-size:15px;
	text-align:center;
	margin:15% 0% 2% 73%;
	background-color:red;
	color:white;
	border:2px solid white;
	

}


.LanguageBar {
	border:4px solid whitesmoke;
	background-color:green;
	color:white;
	text-align:center;
	margin:0px 0px 0px 65%;
	width:120px;
	height:50px;
}

#SortBox {
	border-style:normal;
	text-align:center;
	font-weight:bold;
	overflow:auto;


}

#Display {
	border:2px solid red;
	font-weight:bold;
	font-size:20px;
}



.SortColumn {
	overflow:hidden;
	border:2px solid whitesmoke;
	height:30%;
	margin:5% 0px 0px 0px;
	
}
.SortContent:hover{
	color:red;
}

.highlight {
	background-color: red;
	float: left;
	border: 3px ;
	cursor: pointer;
	padding: 12px 10px;
	transition: 0.3s;
	font-size: 17px;
	color:white;
}

.SortContent {
	background-color: green;
	float: left;
	border: 3px ;
	cursor: pointer;
	padding: 12px 10px;
	transition: 0.3s;
	font-size: 17px;
	color:white;
}

.TextBox {
	width:70%;
	height:30%;
	text-align:center;
	margin:7%  0px 0px 0px;
	background-color:green;
	color:white;
	font-size:30px;
}




#SortBox {
	display:none;

}

#InnerSquareHeading {
	width:200px;
	height:65px;
	margin:0px 45px 5px 45px ;
	font-weight:bold;
	background-color:green;
	border-style:normal;
	text-align:center-justify;
	color:white;
	font-size:18px;
	vertical-align:middle;
	align-items:center;
	
	
}


#SelectShowLanguage{
	visibility:hidden;
	margin:0px 35% 0px 35%;
}

#SelectShowGenre{
	margin:0px 35% 0px 35%;
	visibility:hidden;
}


#SelectShowName{
	margin:0px 35% 0px 35%;
	visibility:hidden;
}

#SelectShowYear{
	margin:0px 35% 0px 35%;
	visibility:hidden;
}


.BorderLine {
	margin:5% 0px 0px 0px;
	border-bottom:10px solid whitesmoke;
}

.Language{
	width:200px;
	height:160px;
	border:4px solid green;
	font-size:30px;
	margin:5% 20% 5% 20%;
	color:white;
	background-color:green;
}

.InfoTable {
	border:5px solid green;
	width:100%;

}

.GenreDisplay {
	width:98%;
	height:20px;
	font-size:20px;
	text-align:center;
	margin:2% 0% 0px 0px;
	background-color:red;
	color:white;
	border:2px solid white;
	

}

.LanguageDisplay {
	width:98%;
	height:20px;
	font-size:20px;
	position:inherit;
	text-align:center;
	margin:2% 0% 0px 0px;
	background-color:red;
	color:white;
	border:2px solid white;
	

}

.Language:hover{
	background-color:red;
	color:white;
}


.GenrePics.active {
	border-bottom:4px solid green;

}

.GenrePics{
	width:100px;
	height:100px;
	background-size:100%;
	margin:20% 0px 0% 0px;
	overflow:auto;
	border:1px solid whitesmoke;
}


#Back {
	background-color:red;

}

#InnerRectBox{
	position:relative;
	height:250px;
	width:80%;
	margin:3% 0% 0px 2%;
	overflow:auto;
	border:10px solid whitesmoke;
}


#InnerRectTextBox{
	position:relative;
	height:250px;
	width:80%;
	margin:3% 0% 0px 2%;
	border:10px solid whitesmoke;
}



.GenreTable{
	position:relative;
	width:200px;
	height:10px;
	margin:3% 0px 0px 0%;
}

.PlayMovie{
	width:200px;
	height:50px;
	margin:20px 45px 0px 45px ;
	font-weight:bold;
	border-style:normal;
	text-align:center;
	color:white;
	font-size:20px;
	font-family:Arial;
	border:solid green;
	background-color:green;
	
}

.PlayMovieIn{
	border:5px solid green;
	background-color:green;	
	color:white;
	height:60px;
	width:60px;
	font-size:40px;
	margin:0px 0px 0px 0px;
	background-size:100%;
}

.Exit{
	border:5px solid green;
	height:60px;
	width:60px;
	font-size:30px;
	font-family:bold;
	color:white;
	background-color:green;
	background-size:100%;
}


.TagName {
	background-color:green;	
	color:white;
	text-align:center;
}


#SaveEnclose {
	margin:5% 40% 2% 40%;
	background-color:green;
	border:4px solid green;
	width:200px;
	height:50px;
	visibility:hidden;
}

.ImgSave {
	width:50px;
	height:50px;
	margin:2% 0px 0px 0px;

}

.SaveNClose{
	text-align:left;
	width:130px;
	height:50px;
	font-weight:bold;
	border:10px solid green;
	background-color:green;
	color:white;
	font-size:30px;
}



.TagMovie{
	width:200px;
	height:50px;
	margin:50px 45px 0px 45px ;
	font-weight:bold;
	border-style:solid;
	text-align:center;
	color:white;
	font-size:20px;
	border:3px solid green;
	background-color:green;
}


#InnerSquare{
	position:relative;
	border:5px solid green;	
        height:200px;
	width:200px;
	margin:0px 70px 0px 45px;
	border-style:groove;	
}

#InnerSmallSquare{
	border-radius:23px;
	margin:0px 80px 0px 0px;	
}

#Dummy{
	border:2px ;	
	border-style:groove;	
	width:100px;
	height:100px;
	background-size:100%;
	text-align:center;

}


#heading {
	position:500%;
	font-size:500%;
	border-color:white;
	border-style:solid;
	text-align:center;
	background-color:red;	
}

#terms{
	text-align:center;
	font-weight:normal;
}

#welcome{
	margin:auto;
	position:relative;
	text-align:center;
	border-style:solid;
	border-color:black;
	color:black;
	font-weight:bold;
	font-size:100%;
}

#check {
	position:relative;
	margin:2% 25% 0% 25%;
	text-align:center;
}

#SeriesInfo{
	border-style:solid;
	margin:auto;
	padding:0% 0%;
	text-align:center;
}


#InnerBox{
	border-style:normal;
	margin:auto;
	text-align:center;
	font-weight:bold;
	font-size:100%;
	overflow:auto;
	margin:0px 0px 5% 0px; 	
}


#ButtonBox{
	margin:3% 0px 0px 0px;
}



#ErrorBox{
	border:2px solid whitesmoke;
	height:200%;
	width:500px;
	margin:5% 0% 0px 20%;
	padding:5%;
	background-color:green;
	color:white;
	
	
}


#Centering{
	position:relative;
	border-style:normal;
	margin:0% 80% 0% 0%;
	padding:auto;
	text-align:center;
	vertical-align:center;		
}


#ValueBox{
	margin:2% 0% 0% 20%;
	
}



#SquareBox:hover{
	border-style:normal;
	background-color:white;

}

.MovieName {
	border:1px solid green;
	text-align:center;
	background-color:green;
	color:white;
	margin:0px 35% 0px 30%;
	

}

#TagBox{
	border-style:normal;
	margin:30% 0px 0px 0px;
	font-size:30px;
	font-style:bold;
	word-wrap:break-word;
	text-align:center;
}


#SideHeadings {
	font-size:50px;
	border-color:green;
	border-style:3px solid green;
	background-color:green;
	color:white;
	height:60px;
	width:100%;
	text-align:center;
	
}

#SideHeadingsFront {
	font-size:30px;
	border-color:green;
	border-style:5px solid green;
	background-color:green;
	color:white;
	height:auto;
	text-align:center;
	width:10%;
	margin:5% 5% 0px 0px;	
}

.Enclose {
	background-color:green;

}

.Move {
	margin:0px 0% 0px 10%;
	height:33px;
	width:86%;
	border-radius:2px solid green;
}

.Align {
	width:40%;
	height:50%;
	margin-top:2%;
	background-color:green;
}

#Body {
	background-color:whitesmoke;

}

.Symbol {
	margin:1px;
	background-color:green;
	color:white;
	border:4px solid green;

}

.UploadCol {
	width:40%;

}
.Upload{
	border:10px solid green;
	width:70px;
	height:70px;
	background-color:green;
	background-size:100%;
	
}


.MoviePNG {
	background-color:green;
	width:100%;
}

.Logout{
	border:10px solid green;
	width:70px;
	height:70px;
	background-color:green;
	background-size:100%;
}

.FindBut {
	border:2px solid red;
	font-size:25px;
	font-family:bold;
	height:42px;
	width:55%;
	margin:auto;
	color:white;
	background-color:red;

}

.Find {
	width:15%;
	height:65%;
	font-size:20px;
	margin:1.5% 0px 0px 0px;
	color:white;
	background-color:green;
	border-color:green;
	border-radius:2px solid green;
}

#normal{
	font-weight:normal;
}


.newseriesbut{
	position:relative;
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin:2% 25% 0% 25%;
	font-weight:bold;
}

.viewseriesbut{
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin: 3% 25% 0% 25%;
	font-weight:bold;
}

.back_main {
	margin:auto;
	width:150px;
	height:90px;
	text-align:center;
	font-weight:bold;
	background-color:green;
	color:white;
	border:1px solid green;
}

.NextBut {
	margin:auto;
	width:150px;
	height:50px;
	text-align:center;
	font-weight:bold;

}

.AddPlayers {
	margin:auto;
	width:15%;
	padding:1%;
	text-align:center;
	font-size:100%;
}

.TextCenter {
	margin:auto;
	width:25%;
	padding:1%;
	text-align:center;
	font-size:100%;

}

#Boxed{
	border-style:groove;
	width:50%;
	padding:0%;
	text-align:center;
	color:white;
	background-color:black;
}

#ButtonBox{
	border-style:normal;
}


#PlayersList {
	display:inline-block;
	text-align:center;
	padding:1%;
	border-style:normal;
	position:relative;

	
}


#hidebox {
	display:none;
}

#Player{
	margin:auto;
	text-align:center;
	padding:auto;
}

#Para{
	margin:auto;
	text-align:justify;
	vertical-align:justify;
	padding:0%;


}

#Tagging{
	margin:auto;
	text-align:center;
	position:fixed;
	width:80%;
	top:1%;
	left:3%;
	z-index:1;
	opacity:.99;
	border:10px solid green;
	background-color:white;
	overflow:hidden;
}


.UploadFileToServer {
	margin:2% 20% 0px 20%;
	width:100%;
	height:100%;
}


.NameBox {
	width:100%;
	height:50%;
	text-align:center;
	font-weight:bold;
	color:white;
	font-size:20px;
	background-color:green;
	margin:10% 0px 0px 0%;
	vertical-align:center;
	text-align:left;
}


.UploadBox {
	width:100%;
	margin:2% 0% 0px 0%;
	border-radius:2px solid green;
	font-size:20px;
	height:40px;
}

.UploadFileBox{
	width:100%;
	margin:10% 0% 0px 5%;
	border-radius:10px solid green;
	font-size:20px;
	height:40px;



}

.DropBox {
	width:100%;
	margin:5% 5% 0px 7%;
	border-radius:4px solid whitesmoke;
	font-size:25px;
	height:50px;
	background-color:green;
	color:white;
	text-align:center;

}
/*
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;

}

*/


.inputFile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	color:white;
}


.inputFile + label {
	color: white;
	background-color: red;
	width:100%;	
	height:50px;
	display: inline-block;
	cursor:pointer;
	margin:20% 30% 0px 0%;
	font-size:30px;
	font-weight:bold;
}


.Browse {
	border:2px solid red;
	font-size:20px;
	font-weight:bold;
	width:300px;
	height:60px;
	margin:20% 0% 0px 0%;
	color:white;


}
.ErrorPNG {
	border:2px solid green;
	margin:0% 0px 0px 10%;
	visibility:visible;

}

#UploadMovie{
	margin:auto;
	text-align:center;
	position:fixed;
	width:80%;
	top:10%;
	left:5%;
	z-index:1;
	opacity:.99;
	border:10px solid green;
	background-color:white;
	overflow:hidden;
}

#EnclosingPlayerInfo {
	display:inline-block;
	position:relative;
	width:100%;
	height:100%;
	border-style:normal;
	magin:auto;
	padding:0%;
	
}

#PlayerFeature {
	display:inline-block;
	width:auto;
	height:auto;
	border-style:normal;
	padding:1%;
}


#PlayerRole {
	display:inline-block;
	width:auto;
	height:auto;
	border-style:normal;
	padding:1%;
}

#RightCornering{
	display:inline-block;
	margin:0px 0px 0px 10%;
	border-style:normal;
	font-size:15px;
	width:100px;
	background-color:green;
	color:white;
}

#PlayerBox{
	display:inline-block;
	position:relative;
	border-style:normal;
}

#show_players{
	background-color:white;
}
