#rectangle {
	border-style:normal;
	background-color:whitesmoke;
	width:100%;
	height:100%;
}

#Innerrectangle {
	background-color:white;
	width:100%;
	height:100%;
}


.Back {
	margin:auto;
	padding:1%;
	width:100%;
	height:100%;

}



div.container{
	width:100%;
	height:100%;

}
#SquareBox{
	border:5px solid green;
	height:470px;
	width:300px;
	background-color:whitesmoke;	
}

#Straightline{
	border:10px solid green;
}


.LanguageBox{
	text-align:center;
	padding-bottom:5%;
	position:relative;
	margin:0px 20% 0px 20%;
}

.Subs {
	position:relative;
	width:25%;
	height:20px;
	font-size:15px;
	text-align:center;
	margin:2% 0% 2% 73%;
	background-color:red;
	color:white;
	border:2px solid white;
	

}


.SubsTag {
	position:relative;
	width:25%;
	height:20px;
	font-size:15px;
	text-align:center;
	margin:15% 0% 2% 73%;
	background-color:red;
	color:white;
	border:2px solid white;
	

}


.LanguageBar {
	border:4px solid whitesmoke;
	background-color:green;
	color:white;
	text-align:center;
	margin:0px 0px 0px 65%;
	width:120px;
	height:50px;
}

#SortBox {
	border-style:normal;
	text-align:center;
	font-weight:bold;
	overflow:auto;


}

#Display {
	border:2px solid red;
	font-weight:bold;
	font-size:20px;
}



.SortColumn {
	overflow:hidden;
	border:2px solid whitesmoke;
	width:100%;
	height:30%;
	margin:5% 0px 0px 0px;
	
}
.SortContent:hover{
	color:red;
}

.highlight {
	background-color: red;
	float: left;
	border: 3px ;
	cursor: pointer;
	padding: 12px 10px;
	transition: 0.3s;
	font-size: 17px;
	color:white;
}

.SortContent {
	background-color: green;
	float: left;
	border: 3px ;
	cursor: pointer;
	padding: 12px 10px;
	transition: 0.3s;
	font-size: 17px;
	color:white;
	
}



#SortBox {
	display:none;

}

#InnerSquareHeading {
	width:200px;
	height:65px;
	margin:0px 45px 5px 45px ;
	font-weight:bold;
	background-color:green;
	border-style:normal;
	text-align:center-justify;
	color:white;
	font-size:18px;
	vertical-align:middle;
	align-items:center;
	
	
}


.Language{
	width:150px;
	height:100px;
	border:2px solid green;
	font-size:20px;
	margin:10% 10% 0px 10%;
	color:white;
	text-align:center;
	background-color:green;
}

.InfoTable {
	border:5px solid green;
	width:100%;

}

.GenreDisplay {
	width:98%;
	height:20px;
	font-size:20px;
	text-align:center;
	margin:2% 0% 0px 0px;
	background-color:red;
	color:white;
	border:2px solid white;
	

}

.LanguageDisplay {
	width:98%;
	height:20px;
	font-size:20px;
	position:inherit;
	text-align:center;
	margin:2% 0% 0px 0px;
	background-color:red;
	color:white;
	border:2px solid white;
	

}

.Language:hover{
	background-color:red;
	color:white;
}


.GenrePics.active {
	border-bottom:4px solid green;

}

.GenrePics{
	width:100px;
	height:100px;
	background-size:100%;
	margin:20% 0px 0% 0px;
	overflow:auto;
	border:1px solid whitesmoke;
}



#InnerRectBox{
	height:250px;
	width:75%;
	margin:5% 10% 0px 1%;
	overflow:auto;
	border:10px solid whitesmoke;	
}

.GenreTable{
	position:relative;
	width:200px;
	height:10px;
	margin:5% 0px 0px 0px;
}

.PlayMovie{
	width:200px;
	height:50px;
	margin:20px 45px 0px 45px ;
	font-weight:bold;
	border-style:normal;
	text-align:center;
	color:white;
	font-size:20px;
	font-family:Arial;
	border:solid green;
	background-color:green;
	
}

.PlayMovieIn{
	width:200px;
	height:100px;
	border:3px solid green;
	background-size:100%;
	margin-left:25%;
	background-color:green;
	color:white;	
}

.Exit{
	border:4px solid red;	
	height:55px;
	width:50px;
	font-size:20px;
	font-family:bold;
	background-color:red;
	color:white;
}


.TagName {
	background-color:green;	
	color:white;
	text-align:center;
}

.SaveNClose{
	width:160px;
	height:50px;
	margin:0px 0px 0px 40% ;
	font-weight:bold;
	border-style:normal;
	color:red;
	font-size:20px;
	font-family:Arial;
	border:solid yellow;
 	background-color:yellow;
}



.TagMovie{
	width:200px;
	height:50px;
	margin:50px 45px 0px 45px ;
	font-weight:bold;
	border-style:solid;
	text-align:center;
	color:white;
	font-size:20px;
	border:3px solid green;
	background-color:green;
}


#InnerSquare{
	position:relative;
	border:5px solid green;	
        height:200px;
	width:200px;
	margin:0px 70px 0px 45px;
	border-style:groove;	
}

#InnerSmallSquare{
	border-radius:23px;
	margin:0px 80px 0px 0px;	
}

#Dummy{
	border:2px ;	
	border-style:groove;	
	width:100px;
	height:100px;
	background-size:100%;
	text-align:center;

}


#heading {
	position:500%;
	font-size:500%;
	border-color:white;
	border-style:solid;
	text-align:center;
	background-color:red;	
}

#terms{
	text-align:center;
	font-weight:normal;
}

#welcome{
	margin:auto;
	position:relative;
	text-align:center;
	border-style:solid;
	border-color:black;
	color:black;
	font-weight:bold;
	font-size:100%;
}

#check {
	position:relative;
	margin:2% 25% 0% 25%;
	text-align:center;
}

#SeriesInfo{
	border-style:solid;
	margin:auto;
	padding:0% 0%;
	text-align:center;
}


#InnerBox{
	border-style:normal;
	margin:auto;
	text-align:center;
	font-weight:bold;
	font-size:100%;
	overflow:auto;
	margin:0px 0px 5% 0px; 	
}


#ButtonBox{
	text-align:center;
	font-weight:bold;
	font-size:100%;
	overflow:auto;
	margin:2% 0px 0px 0px;
	
}



#ErrorBox{
	border:2px solid whitesmoke;
	height:200%;
	width:500px;
	margin:5% 0% 0px 20%;
	padding:5%;
	background-color:green;
	color:white;
	
	
}


#Centering{
	position:relative;
	border-style:normal;
	margin:0% 80% 0% 0%;
	padding:auto;
	text-align:center;
	vertical-align:center;		
}


#ValueBox{
	margin:2% 0% 0% 20%;
	
}



#SquareBox:hover{
	border-style:normal;
	background-color:white;

}

.MovieName {
	border:1px solid green;
	margin:0px 35% 0px 35%;
	text-align:center;
	background-color:green;
	color:white;

}

#TagBox{
	border-style:normal;
	text-align:center;
	width:100px;
	height:250px;
	margin:20% 0px 0px 0px;
	font-size:20px;
}


#SideHeadings {
	font-size:40px;
	border-color:green;
	border-style:3px solid green;
	background-color:green;
	color:white;
	height:45px;
	width:100%;
	text-align:center;
	
}

#SideHeadingsFront {
	font-size:30px;
	border-color:green;
	border-style:5px solid green;
	background-color:green;
	color:white;
	height:auto;
	text-align:center;
	width:10%;
	margin:5% 5% 0px 0px;	
}

.Enclose {
	background-color:green;

}

.Move {
	margin:0px 0% 0px 20%;
	height:38px;
	width:100%;
	border:2px solid green;
}

.Align {
	width:50%;
	height:50%;
	margin-top:2%;
	background-color:green;
}

#Body {
	background-color:whitesmoke;

}

.Symbol {
	margin:1px;
	background-color:green;
	color:white;
	border:6px solid green;

}

.FindBut {
	border:2px solid red;
	font-size:25px;
	font-family:bold;
	height:42px;
	width:20%;
	margin:auto;
	color:white;
	background-color:red;

}

.Find {
	width:60%;
	height:65%;
	font-size:20px;
	margin:1.5% 0px 0px 0px;
	color:white;
	background-color:green;
	border-color:green;
}

#normal{
	font-weight:normal;
}


.newseriesbut{
	position:relative;
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin:2% 25% 0% 25%;
	font-weight:bold;
}

.viewseriesbut{
	font-size:300%;
	text-align:center;
	width:50%;
	height:25%;
	margin: 3% 25% 0% 25%;
	font-weight:bold;
}

.back_main {
	margin:auto;
	width:150px;
	height:90px;
	text-align:center;
	font-weight:bold;
	background-color:green;
	color:white;
	border:1px solid green;
}

.NextBut {
	margin:auto;
	width:150px;
	height:50px;
	text-align:center;
	font-weight:bold;

}

.AddPlayers {
	margin:auto;
	width:15%;
	padding:1%;
	text-align:center;
	font-size:100%;
}

.TextCenter {
	margin:auto;
	width:25%;
	padding:1%;
	text-align:center;
	font-size:100%;

}

#Boxed{
	border-style:groove;
	width:50%;
	padding:0%;
	text-align:center;
	color:white;
	background-color:black;
}

#ButtonBox{
	border-style:normal;
}


#PlayersList {
	display:inline-block;
	text-align:center;
	padding:1%;
	border-style:normal;
	position:relative;

	
}


#hidebox {
	display:none;
}

#Player{
	margin:auto;
	text-align:center;
	padding:auto;
}

#Para{
	margin:auto;
	text-align:justify;
	vertical-align:justify;
	padding:0%;


}

#Tagging{
	margin:auto;
	text-align:center;
	position:fixed;
	width:90%;
	height:auto;
	top:10%;
	left:2%;
	z-index:1;
	opacity:.99;
	border:10px solid green;
	overflow:vertical-scroll;
	background-color:white;
}

#EnclosingPlayerInfo {
	display:inline-block;
	position:relative;
	width:100%;
	height:100%;
	border-style:normal;
	magin:auto;
	padding:0%;
	
}

#PlayerFeature {
	display:inline-block;
	width:auto;
	height:auto;
	border-style:normal;
	padding:1%;
}


#PlayerRole {
	display:inline-block;
	width:auto;
	height:auto;
	border-style:normal;
	padding:1%;
}

#RightCornering{
	display:inline-block;
	margin:0px 0px 0px 10%;
	border-style:normal;
	font-size:15px;
	width:100px;
	background-color:green;
	color:white;
}

#PlayerBox{
	display:inline-block;
	position:relative;
	border-style:normal;
}

#show_players{
	background-color:white;
}
